* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: url(./imagens/background-img.jpg)
}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
    opacity: 0.9;
    box-shadow: 1px 4px 10px #36353f;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #ca2146;
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    cursor: pointer;
}

.task:hover img{
    opacity: 1;
}

.done{
    background-color: #fc00009f;
    text-decoration: line-through;
}

@media (max-width: 414px) {

.container {
    background-color: #d1d1d1;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    margin: 60px auto 0;
    opacity: 0.9;
    box-shadow: 1px 4px 10px #36353f;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 190px;
    height: 40px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(./imagens/backgroundimg.png);
}
}